* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */
header {
    padding: 10px 0px;
    border-bottom: 1px solid #9999;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.header__items {
    position: relative;
    padding: 10px 0px;
}

.header__items a {
    padding: 10px 0px;
    color: rgb(47, 16, 80);
    text-decoration: none;
    font-weight: bold;
}

.header__items a::before {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: orangered;
}

.header__items a:hover::before {
    height: 2px;
}

/* end of header */
#Description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid orangered;
}

#Description h2 {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #2F1050;
    letter-spacing: 2px;
    font-family: 'Fredericka the Great', cursive;
}

#Description p{
    padding-top: 15px;
    letter-spacing: 1px;
}

/* end of description */
/* card section */

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.card__items{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 25px;
}

.card__items img{
    width: 150px;
}

.card__items a{
    text-decoration: none;
    background-color: springgreen;
    color: #2F1050;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
}

.card__items a:hover{
    background-color: rgb(2, 165, 83) ;
    color:#FFF;
}

.card__items p{
    border-top: 1px solid orangered;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/* end of card section */